<ion-header>
  <ion-toolbar>
    <ion-title>
      Detect Face
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button expand="full" (click)="recording()">録画</ion-button>
  </div>

  <div>
    <ion-list>
      <ion-item
        *ngFor="let file of mediaFiles"
        tappable
        (click)="playFile(file)"
        text-wrap
      >
        {{ file.name }}
        <p>{{ file.size / 1000 / 1000 | number }} MB</p>
      </ion-item>
    </ion-list>
  </div>

  <div>
    <video controls autoplay #myvideo></video>
  </div>
</ion-content>
